<div>
    <div class="main-wrapper">
        <app-menu-bar></app-menu-bar>
        <div class="page-wrapper">
            <nav class="navbar">
                <a href="#" class="sidebar-toggler">
                    <i data-feather="menu"></i>
                </a>
            </nav>

            <div class="page-content">

                <nav class="page-breadcrumb d-flex align-items-center justify-content-between">
                    <ol class="breadcrumb mb-0">
                        <li class="breadcrumb-item"><a routerLink="/home">Dashboard</a></li>
                        <li class="breadcrumb-item active" aria-current="page">Import Employee</li>
                    </ol>
                    <a routerLink="/employee-list" class="btn btn-primary"><i class="link-icon"
                            data-feather="arrow-left"></i>
                        Employees List</a>
                </nav>
                <div class="row">
                    <div class="col-md-12 grid-margin stretch-card">
                        <div class="card">
                            <div class="card-body">
                                <form class="row forms-sample">
                                    <div class="col-lg-6 mb-3">
                                        <label for="title" class="form-label">Import File</label>
                                        <input (change)="method($event)" type="file" class="form-control"
                                            id="importFile" placeholder="">
                                    </div>
                                    <div class="text-center">
                                        <button (click)="importEmployee($event)" type="button" class="btn btn-primary">
                                            <i class="link-icon" data-feather="plus"></i> Import Employee
                                        </button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <footer
                class="footer d-flex flex-column flex-md-row align-items-center justify-content-between px-4 py-3 border-top small">
                <p class="text-muted mb-1 mb-md-0">Copyright © 2024 <a routerLink="/home" target="_blank"></a>.
                </p>
                <p class="text-muted">Powered By <i class="mb-1 text-primary ms-1 icon-sm" data-feather="heart"></i>
                    Elixir Team</p>
            </footer>

        </div>
    </div>
</div>